.container {
    // border: 2px solid goldenrod;

    .field {
        // border: 1px solid seagreen;

        :global{
            .MuiFormHelperText-root {
                position: absolute;
                height: 100%;
                top: 100%;
            }
        }

        &.wide {
            // border-color: red;
            width: 100%;
        }
    }
}
