.container {
    --margin: 2% 5%;

    display: flex;
    flex-direction: column;

    .toggle {
        margin: var(--margin);
        display: flex;

        & > button {
            flex: 1;
            font-size: 0.7rem;
        }

    }

    .findStore {
        margin: var(--margin);
        font-size: 1.3rem;
    }

    .label {
        margin: var(--margin);
        margin-top: 5%;
    }

    .street {
        width: 90% !important;
    }

    .cityState {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 5%;
        padding-left: 2%;

        .city {
            flex: 4.5;
        }

        .spacer {
            flex: 1;
        }

        .state {
            flex: 2;

            .helper {
                color: #f44336;
                position: absolute;
                height: 100%;
                top: 100%;
            }
        }
    }
}